---
import Content from '~/components/widgets/Content.astro';
import GlobeServiceHeader from '~/components/widgets/GlobeServiceHeader.astro';
import Services from '~/components/widgets/Services.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <GlobeServiceHeader />

  <!-- Services Widget ************** -->
  <Services />

  <!-- Content Widget **************** -->
<section class="h-[600px] md:h-[800px]"></section>
  <Content
    isReversed
    items={[
      {
        title: 'Solutions Innovantes',
        description:
          'Nous offrons des solutions créatives et percutantes adaptées aux besoins uniques de chaque client.',
        icon: 'tabler:wand',
      },
      {
        title: 'Exécution Complète',
        description:
          'De la stratégie à la livraison, nous gérons chaque étape de votre projet pour garantir des résultats réussis.',
        icon: 'tabler:settings',
      },
      {
        title: 'Approche Collaborative',
        description:
          'Notre équipe travaille en étroite collaboration avec vous pour transformer votre vision en réalité.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Références Solides',
        description: 'Faites confiance à notre portfolio qui témoigne de projets réussis dans divers secteurs.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Notre Travail</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Expertise et Expérience',
        description:
          'Notre équipe est composée de professionnels expérimentés capables de fournir des résultats exceptionnels.',
        icon: 'tabler:clock',
      },
      {
        title: 'Solutions Personnalisées',
        description:
          'Nous élaborons des stratégies et des services sur mesure, parfaitement alignés avec vos objectifs.',
        icon: 'tabler:school',
      },
      {
        title: 'Approche Holistique',
        description: 'Nous considérons chaque aspect de votre projet pour garantir qu’aucun détail ne soit négligé.',
        icon: 'tabler:coin',
      },
      {
        title: 'Philosophie Orientée Client',
        description:
          'Votre succès est le nôtre. Nous privilégions la transparence, la communication et les partenariats durables.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Pourquoi Nous Choisir</h3>
    </Fragment>
  </Content>
</Layout>
