---
import ServiceGrid from '../ui/ServiceGrid.astro';
import { services } from '~/navigation';

---

<section class="max-w-5xl mx-auto mt-10">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
          <div class="text-center pb-6 md:pb-10 max-w-6xl mx-auto">
            <p class="text-xl text-muted">
                <span class="font-semibold text-lg text-orange-400 uppercase">Winning in the Digital Age</span>
            </p>
            <h2 class="pt-0 text-4xl md:text-4xl font-bold leading-tighter tracking-tighter font-heading">
                Discover what’s there for you with <span class="text-accent text-orange-400"> INCLUSION</span>
            </h2>
          </div>
      </div>
  {services.map((service) => <ServiceGrid service={service} />)}
</section>
