---
import InclusionAnimation from '~/components/ui/InclusionAnimation.jsx';

const {
  service,
} = Astro.props;
---

<section class="relative not-prose">
    <div class="relative max-w-7xl mx-auto h-dvh">
      <div class="pt-12 md:pt-20 lg:flex lg:gap-8 content-center">
        <div class="absolute w-full md:h-full">
          <InclusionAnimation client:visible />
        </div>
        <div class="absolute text-center lg:text-left px-4 sm:px-6">
          <p class="text-xl text-secondary font-bold tracking-wide uppercase">
            {service.title}
          </p>
          <h1
            class="text-2xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading"
          >
          {service.callToAction}
          </h1>
          <div class="max-w-3xl mx-auto lg:max-w-none">
            <p class="text-lg text-slate-600">
                {service.description}
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </section>
