---
import { getLangFromUrl } from '~/i18n/utils';
import ServiceGrid from '../ui/ServiceGrid.astro';
import { services } from '~/navigation';
import type { ServiceCategory } from '~/types';

const lang = getLangFromUrl(Astro.url);
let languageServices: Array<ServiceCategory>;
let title: string;
let subtitle: string;

if (lang === 'ar') {
  languageServices = services.ar;
  title = 'النجاح في العصر الرقمي';
  subtitle = 'اكتشف ما يمكن أن تقدمه لك <span class="text-accent text-orange-500"> INCLUSION</span>';
} else if (lang === 'en') {
  languageServices = services.en;
  title = 'Winning in the Digital Age';
  subtitle = 'Discover what’s there for you with <span class="text-accent text-orange-500"> INCLUSION</span>';
} else {
  languageServices = services.fr;
  title = "Gagner à l'ère numérique";
  subtitle = 'Découvrez ce que <span class="text-accent text-orange-500"> INCLUSION</span> peut vous offrir';
}
---

<section class="relative top-[600px] lg:top-[800px] w-full bg-white">
  <div class="max-w-5xl mx-auto"> 
    <div class="relative mx-auto px-4 sm:px-6 pt-16">
      <div class="text-center pb-6 md:pb-10 max-w-6xl mx-auto">
        <p class="text-xl text-muted">
          <span class="font-semibold text-2xl text-orange-400 uppercase">{title}</span>
        </p>
        <h2
          set:html={subtitle}
          class="pt-0 text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
        />
      </div>
    </div>
    {languageServices.map((service) => <ServiceGrid service={service} />)}
  </div>
  
</section>
