---
import Carousel from '~/components/widgets/Carousel.astro';
import ContactCallForAction from '~/components/widgets/ContactCallForAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import Values from '~/components/widgets/Values.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero />

  <!-- Carousel Widget ****************** -->

  <Carousel />

  <!-- Steps2 Widget ****************** -->

  <section
    class="relative not-prose py-12 bg-[url('https://inclusion.dz/wp-content/uploads/2022/01/Fond-Background.png')]"
  >
    <div class="relative max-w-6xl mx-auto px-4 sm:px-6">
      <div class="py-12 md:py-12">
        <div class="max-w-6xl mx-auto">
          <h1
            class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-0 font-heading dark:text-gray-200"
          >
            Qui somme nous
          </h1>
          <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase mt-0 mb-6">
            AND OUR PHILOSOPHY
          </p>
          <p class="text-xl text-gray-900 mb-4">
            Dans un contexte de concurrence et d’accroissement des risques, les entreprises font face à de nombreux
            défis. L’évolution des marchés, les changements continus induits par une compétition féroce, aussi bien sur
            le plan local, régional, qu’international, font subir aux entreprises des contraintes nouvelles.
          </p>
          <p class="text-xl text-gray-900 mb-4">
            Grâce à notre aide, Votre entreprise ne vivera plus ces changements comme une contrainte mais comme une
            nouvelle donne qui ouvrira de nouvelles opportunités et des perspectives d’avenir.
          </p>
          <p class="text-xl text-gray-900 mb-4">
            Notre philosophie consiste à travailler en étroite collaboration avec nos clients en comprenant leurs
            besoins spécifiques et en fournissant des solutions qui leurs permettent de faire face à l’environnement
            commercial concurrentiel et instable d’aujourd’hui.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- VALUES Widget ****************** -->

  <Values />

  <!-- ContactCallForAction Widget ************** -->

  <ContactCallForAction
    description="We combine innovative technologies with proven digital expertise to develop strategies that grow awareness, traffic, engagement, and sales. We analyze emerging markets, positioning, customer profiles, behavioral data, and more to identify opportunities that will grow your business."
  />
</Layout>
