---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
  currentPage: number
}

const { posts, currentPage } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        <Item post={post} currentPage={currentPage} />
      </li>
    ))
  }
</ul>
