---
export interface Props {
  label?: string;
  class?: string;
}

const {
  class: className = 'text-black flex flex-col h-12 w-12 rounded justify-center items-center cursor-pointer group',
} = Astro.props;
---

<button type="button" class={className} aria-label="Mobile navigation" data-aw-sticky-header>
  <slot>
    <span
      aria-hidden="true"
      class="h-[3px] w-6 mt-1 rounded-full bg-[#FF8800] "
    ></span>
    <span
      aria-hidden="true"
      class="h-[3px] w-6  mt-1 rounded-full bg-[#FF8800] "
    ></span>
    <span
      aria-hidden="true"
      class="h-[3px] w-6 mt-1 rounded-full bg-[#FF8800] "
    ></span>
  </slot>
</button>
